WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/walkinside.webapi.signalr.csproj.nuget.g.props
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.1/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.1/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.1/walkinside.webapi.signalr.csproj.CoreCompileInputs.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.1/walkinside.webapi.signalr.assets.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.1/walkinside.webapi.signalr.runtimeconfig.dev.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.1/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.1/walkinside.webapi.signalr.deps.json
WebApi/walkinside.webapi.signalr/.vs/walkinside.webapi.signalr/v15/Server/sqlite3/storage.ide-wal
WebApi/walkinside.webapi.signalr/.vs/walkinside.webapi.signalr/v15/Server/sqlite3/storage.ide-shm
WebApi/walkinside.webapi.signalr/.vs/walkinside.webapi.signalr/v15/.suo
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/walkinside.webapi.signalr.csproj.nuget.g.targets
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/walkinside.webapi.signalr.csproj.nuget.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.1/walkinside.webapi.signalr.csprojAssemblyReference.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.1/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/netcoreapp2.1/rhel.7.2-x64/host/walkinside.webapi.signalr
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.csprojAssemblyReference.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.csproj.FileListAbsolute.txt
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.csproj.CoreCompileInputs.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.AssemblyInfo.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.csprojAssemblyReference.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.csproj.FileListAbsolute.txt
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.csproj.CoreCompileInputs.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.CodeAnalysis.Workspaces.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Amazon.Lambda.Serialization.Json.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Amazon.Lambda.Logging.AspNetCore.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Amazon.Lambda.Core.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Amazon.Lambda.AspNetCoreServer.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Amazon.Lambda.ApplicationLoadBalancerEvents.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Amazon.Lambda.APIGatewayEvents.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/AWSSDK.S3.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/AWSSDK.Extensions.NETCore.Setup.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/AWSSDK.Core.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.signalr
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.runtimeconfig.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.runtimeconfig.dev.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.WebUtilities.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.WebSockets.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.SignalR.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.SignalR.Core.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.SignalR.Common.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Routing.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Routing.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Http.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Http.Features.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Http.Extensions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Http.Connections.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Http.Connections.Common.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Http.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Hosting.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Connections.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Authorization.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Authorization.Policy.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.AspNetCore.Authentication.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Amazon.Lambda.Serialization.Json.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Amazon.Lambda.Logging.AspNetCore.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.assets.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.RazorTargetAssemblyInfo.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.RazorAssemblyInfo.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.RazorAssemblyInfo.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.AssemblyInfoInputs.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/walkinside.webapi.signalr.AssemblyInfo.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.signalr
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.runtimeconfig.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.runtimeconfig.dev.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.deps.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/web.config
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/walkinside.webapi.signalr.runtimeconfig.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/walkinside.webapi.signalr.deps.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/walkinside.webapi.signalr
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/libhostpolicy.so
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.VisualStudio.Web.CodeGeneration.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.deps.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/web.config
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/walkinside.webapi.signalr.runtimeconfig.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/walkinside.webapi.signalr.deps.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/walkinside.webapi.signalr
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/libhostpolicy.so
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/libhostfxr.so
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/dotnet-aspnet-codegenerator-design.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/aws-lambda-tools-defaults.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/appsettings.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/appsettings.Development.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/System.Threading.Channels.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/System.Net.WebSockets.WebSocketProtocol.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/System.IO.Pipelines.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/System.Composition.TypedParts.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/System.Composition.Runtime.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/System.Composition.Hosting.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/System.Composition.Convention.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/System.Composition.AttributedModel.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Swashbuckle.AspNetCore.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.assets.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.RazorTargetAssemblyInfo.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.RazorAssemblyInfo.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.RazorAssemblyInfo.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.AssemblyInfoInputs.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.2/rhel.7.2-x64/walkinside.webapi.signalr.AssemblyInfo.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.csprojAssemblyReference.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.csproj.FileListAbsolute.txt
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.csproj.CoreCompileInputs.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.assets.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.RazorTargetAssemblyInfo.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.RazorAssemblyInfo.cs
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.RazorAssemblyInfo.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/Release/netcoreapp2.1/rhel.7.2-x64/walkinside.webapi.signalr.AssemblyInfoInputs.cache
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/libhostfxr.so
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/dotnet-aspnet-codegenerator-design.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/aws-lambda-tools-defaults.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/appsettings.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/appsettings.Development.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/System.Composition.TypedParts.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/System.Composition.Runtime.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/System.Composition.Hosting.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/System.Composition.Convention.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/System.Composition.AttributedModel.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Swashbuckle.AspNetCore.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Swashbuckle.AspNetCore.Swagger.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/NuGet.Frameworks.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.2/publish/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Swashbuckle.AspNetCore.Swagger.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/NuGet.Frameworks.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.VisualStudio.Web.CodeGeneration.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Net.Http.Headers.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.Primitives.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.Options.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.ObjectPool.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.Logging.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.Hosting.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.FileProviders.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.Configuration.Abstractions.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.CodeAnalysis.Workspaces.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/obj/netcoreapp2.2/rhel.7.2-x64/host/walkinside.webapi.signalr
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Amazon.Lambda.Core.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Amazon.Lambda.AspNetCoreServer.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/Amazon.Lambda.APIGatewayEvents.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/AWSSDK.S3.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/AWSSDK.Extensions.NETCore.Setup.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Release/netcoreapp2.1/publish/AWSSDK.Core.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.2/walkinside.webapi.signalr.runtimeconfig.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.2/walkinside.webapi.signalr.runtimeconfig.dev.json
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.2/walkinside.webapi.signalr.pdb
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.2/walkinside.webapi.signalr.dll
WebApi/walkinside.webapi.signalr/walkinside.webapi.signalr/bin/Debug/netcoreapp2.2/walkinside.webapi.signalr.deps.json
