<div *ngIf="!team" id="join-details" class="">
    <form [formGroup]="avatarForm" (ngSubmit)="onSubmit(avatarForm)">
      <div id="selected-avatar" class="team-member-picture">
        <img src={{avatarStr}}>
      </div>
      <div id="form" class="center">
        <label>
          User Name:
          <input type="text" formControlName="userName">
          <div *ngIf="submitted && avatarForm.controls.userName.errors" class="error">
            <div *ngIf="avatarForm.controls.userName.errors.required">Your name is required.</div>
          </div>
        </label>
        <label>
            Team Name:
            <input type="text" formControlName="teamName">
            <div *ngIf="submitted && avatarForm.controls.teamName.errors" class="error">
              <div *ngIf="avatarForm.controls.teamName.errors.required">Team name is required.</div>
            </div>
          </label>
        <br/>
        <input type="submit" value="Join" class="btn-primary">
      </div>
    </form>
  <div id="avatar-previews">
    <div class="avatar-preview-wrapper" (click)='selectAvatar("Angel-icon")'> 
      <a class="avatar-preview">
        <img src="assets/avatars/Angel-icon.png">
      </a>
    </div>
    <div class="avatar-preview-wrapper" (click)='selectAvatar("Clown-icon")'> 
      <a class="avatar-preview">
        <img src="assets/avatars/Clown-icon.png">
      </a>
    </div>
    <div class="avatar-preview-wrapper" (click)='selectAvatar("Dad-icon")'> 
      <a class="avatar-preview">
        <img src="assets/avatars/Dad-icon.png">
      </a>
     </div>
     <div class="avatar-preview-wrapper" (click)='selectAvatar("Girl-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Girl-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Kid-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Kid-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Knight-icon")'> 
        <a class="avatar-preview">
        <img src="assets/avatars/Knight-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Lawyer-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Lawyer-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Leprechaun-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Leprechaun-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Man-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Man-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Mermaid-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Mermaid-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Monster-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Monster-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Ninja-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Ninja-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Pirate-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Pirate-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Princess-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Princess-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Robot-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Robot-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Superhero-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Superhero-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Teacher-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Teacher-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Troll-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Troll-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Vampire-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Vampire-icon.png">
        </a>
      </div>
      <div class="avatar-preview-wrapper" (click)='selectAvatar("Zombie-icon")'> 
        <a class="avatar-preview">
          <img src="assets/avatars/Zombie-icon.png">
        </a>
      </div>
  </div>
</div>

<!-- After Create or Join -->
<div id="team" *ngIf="team" class="scrum-show">
  <ng-container *ngFor="let scrumMember of team.scrumMembers">
    <a class="team-member" data-id="53274" data-isclient="false"  data-isscrummaster="false" data-isconchholder="false" data-ispreviousconchholder="{{scrumMember.spoken}}" data-hasvoted="false">
        <div class="team-member-picture">
              <img src="{{scrumMember.userImageName}}" />
         </div>
        <img class="holding-conch" src="assets/avatars/ball.png" alt="This person is holding the ball">  
        <img class="scrummaster-badge" src="assets/avatars/scrummaster-badge.png" alt="This is the Scrum Master">  
        <div class="team-member-details"><span>{{scrumMember.username}}</span></div>
        <img class="pointer" src="assets/avatars/pointer.png" alt="This is you">
    </a>
  </ng-container>
</div>
  <!-- <div class="main-button" *ngIf="group.hasStarted && !group.hasFinished">
      <button (click)="drink()">Drink</button>
  </div>
  <div class="main-button" *ngIf="!group.hasStarted && _hubConnection.connection.connectionId == group.owner">
      <button (click)="start()">Start</button>
  </div>
  <div class="main-button" *ngIf="group.hasFinished">
      Drinking is over!!! Winner is
      <b>{{group.winnerEmail}}</b>. Click
      <a (click)="clear()">here</a> to start over.
  </div> -->