<div *ngIf="team">
    <div class="team-member" *ngFor="let glass of team.ScrumMembers">
        <div class="team-member-picture">
            <img src="{{avatarImgSrc}}" />
        </div>
    </div>

    <div class="main-button" *ngIf="team.ScrumStarted && !team.ScrumFinished">
        <button (click)="drink()">Drink</button>
    </div>
    <div class="main-button" *ngIf="!team.ScrumStarted && hubConnection.connection.connectionId == team.ScrumMaster">
        <button (click)="start()">Start</button>
    </div>
</div>