<div id="team" class="scrum-show">
  <a class="team-member" data-id="53274" data-isclient="false"  data-isscrummaster="false" data-isconchholder="false" data-ispreviousconchholder="false" data-hasvoted="false">
            
  <div class="team-member-picture">
      <img src={{avatarImgSrc}}>
  </div>
  <img class="holding-conch" src="assets/avatars/ball.png" alt="This person is holding the ball">  
  <img class="scrummaster-badge" src="assets/avatars/scrummaster-badge.png" alt="This is the Scrum Master">  
  <div class="team-member-details"><span>{{avatarStr}}</span></div>
  <img class="pointer" src="assets/avatars/pointer.png" alt="This is you">
  </a>
  <a class="team-member" data-id="53274" data-isclient="true" data-isscrummaster="true" data-isconchholder="true" data-ispreviousconchholder="false" data-hasvoted="false">
            
      <div class="team-member-picture">
          <img src="assets/avatars/Dad-icon.png">
      </div>
      <img class="holding-conch" src="assets/avatars/ball.png" alt="This person is holding the ball">
      <img class="scrummaster-badge" src="assets/avatars/scrummaster-badge.png" alt="This is the Scrum Master">  
      <div class="team-member-details"><span>Gabriel</span></div>
      <img class="pointer" src="assets/avatars/pointer.png" alt="This is you">
   </a>
   <a class="team-member" data-id="53274" data-isclient="false" data-isscrummaster="false" data-isconchholder="false" data-ispreviousconchholder="false" data-hasvoted="false">
            
      <div class="team-member-picture">
          <img src="assets/avatars/Clown-icon.png">
      </div>
      <img class="holding-conch" src="assets/avatars/ball.png" alt="This person is holding the ball">
      <img class="scrummaster-badge" src="assets/avatars/scrummaster-badge.png" alt="This is the Scrum Master">  
      <div class="team-member-details"><span>Pratik</span></div>
      <img class="pointer" src="assets/avatars/pointer.png" alt="This is you">
   </a>
  </div>




